* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 20px;
  margin-left: 30px;
  height: 100%;
  width: 100%;
}
.navbar-brand:hover {
  color: black;
}
.nav-link {
  margin-right: 15px;
  margin-left: 15px;
  color: rgb(255, 255, 255);
  font-family: roboto, arial;
  text-transform: uppercase;
}
.nav-link:hover {
  color: black;
}
.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  margin-right: 35px;
  font-family: roboto, arial;
  border: 2px solid rgb(31, 3, 12);
}
.btn0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: rgb(250, 247, 248);
  color: white;
  font-weight: 700;
  border-radius: 60px;
}
.goldenforkComponent {
  background: url(/assets/img/fondo2.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.main {
  position: absolute;
  height: 600vh;
  width: 100%;
}
.main h1 {
  font-family: "Lobster", cursive;
  font-size: 5rem;
  font-weight: 700;
  font-family: Cochin;
  margin-left: 70px;
  margin-top: 100px;
}
.btn1 {
  height: 45px;
  width: 35%;
  outline: none;
  border: none;
  background: rgb(26, 104, 248);
  color: rgb(148, 11, 11);
  font-weight: 700;
  border-radius: 60px;
}

.card:hover {
  box-shadow: 6px 6px 8px -2px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 6px 6px 8px -2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 6px 6px 8px -2px rgba(0, 0, 0, 0.37);
  transition: 0, 5s;
}
.submenu {
  font-family: Cochin;
  margin-top: 400px;
  box-shadow: 6px 6px 8px -2px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 6px 6px 8px -2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 6px 6px 8px -2px rgba(0, 0, 0, 0.37);
  transition: 0, 5s;
}

.menus_platos h1 {
  font-family: "Lobster", cursive;
  font-size: 5rem;
  font-weight: 700;
  font-family: Cochin;
  margin-left: 170px;
  padding: 30px;
}
.card-body {
  padding: 12px;
  margin-bottom: 50px;
}
