<nav class="navbar navbar-expand-lg " style="background-color: #4c6c11;">
  <div class="container">
    <div><img src="/assets/img/logo.png" alt=""width="60" height="60" margin="0 auto"></div>
    <a class="navbar-brand-logo" href="#"></a>
      <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"href="#">Inicio</a></li>
        <li class="nav-item">
          <a class="nav-link" href="index2.html" target="_blank">Menú</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nosotros</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#">Misión</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Contacto</a></li>
      </ul>
      <form class="d-flex">
        <input class="px-2 search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

<section class="main">
  <div class="container">
      <div class="col-lg-12 pt-2 text-center">
        <div><img src="/assets/img/logo golden fork.png" alt="" width="200" height="200" position="center"></div>
        <h1 class="pt-20">Bienvenidos a Golden Fork</h1>
        </div>
  </div>
</section>

<section class="menu_carnes">
  <a href="https://www.colombia.co/visita-colombia/experiencias-unicas/12-lugares-que-no-puedes-dejar-de-ver-en-colombia/"target="blank">
    <div class="btnmenu_carnes">
      <img src="/assets/img/carnes.png"  alt="mx-auto" width="150px" height="150px">
      <h1 class="pt-3">CARNES</h1>
    </div>

      <div class="card-group">
        <div class="col-lg-3 text-center">
          <div class="card boder-0 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/carne-res.png" class="img-fluid" alt=""width="350px" height="350px">
              <h1>Res</h1>
              <p>Platos a la carta con con los mejores cortes de res.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 text-center">
          <div class="card boder-0 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/carne-cerdo.png" class="img-fluid" alt=""width="400px" height="400px">
              <h1>Cerdo</h1>
              <p>El sabor del cerdo en todas sus presentaciones.</p>
            </div>
          </div>

        </div>
        <div class="col-lg-3 text-center">
          <div class="card boder-0 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/carne-pollo.png" class="img-fluid" alt=""width="400px" height="400px">
              <h1>Pollo</h1>
              <p>Las mejores preparaciones del pollo.</p>
            </div>
          </div>
        </div>
      </div>
  </a>
</section>

<section class="menu_platos">
  <a href="https://www.colombia.co/visita-colombia/experiencias-unicas/12-lugares-que-no-puedes-dejar-de-ver-en-colombia/"target="blank">
        <div class="btnmenu_platos">
          <img src="/assets/img/platos.png" class="img-fluid" alt="" width="150px" height="150px">
          <h1 class="pt-3">PLATOS</h1>
        </div>

         <div class="card-group">

        <div class="col-lg-3 text-center">
          <div class="card boder-0 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/pastas.png" class="img-fluid" alt=""width="300px" height="300px">
              <h1>Pastas</h1>
              <p>Las mejores preparaciones con pastas.</p>
            </div>
          </div>

        </div>
        <div class="col-lg-3 text-center">
          <div class="card boder-0 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/percados.png" class="img-fluid" alt=""width="300px" height="300px">
              <h1>Pescados</h1>
              <p>Pescados en todas su variedades.</p>
            </div>
          </div>

        </div>
        <div class="col-lg-3 text-center">
          <div class="card boder-0 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/tipicos.png" class="img-fluid" alt=""width="300px" height="300px">
              <h1>Típicos</h1>
              <p>Los mejores platos de las diferentes regiones.</p>
            </div>
          </div>

        </div>
        <div class="col-lg-3 text-center">
          <div class="card boder-0 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/ensaladas.png" class="img-fluid" alt=""width="300px" height="300px">
              <h1>Ensaladas</h1>
              <p>Toda la frescura en ensaladas.</p>
            </div>
          </div>
           </div>
      </div>
  </a>
</section>

<section class="menu_bebidas">
  <a href="https://www.colombia.co/visita-colombia/experiencias-unicas/12-lugares-que-no-puedes-dejar-de-ver-en-colombia/"target="blank">
      <div class="btnmenu_bebidas">
        <img src="/assets/img/bebidas.png" class="img-fluid" alt="" width="150px" height="150px">
        <h1 class="pt-3">BEBIDAS</h1>
      </div>
      <div class="card-group">
        <div class="col-lg-3 text-center">
          <div class="card boder-0 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/sopas.png" class="img-fluid" alt=""width="300px" height="300px">
              <h1>Sopas</h1>
              <p>Con el sabor de antaño.</p>
            </div>
           </div>
          </div>
        <div class="col-lg-3 text-center">
          <div class="card boder-0 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/arroces.png" class="img-fluid" alt=""width="300px" height="300px">
              <h1>Arroces</h1>
              <p>En toda su variedad y acompañamiento.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 text-center">
          <div class="card boder-3 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/postres.png" class="img-fluid" alt=""width="300px" height="300px">
              <h1>Postres</h1>
              <p>Los mejores para disfrutar.</p>
            </div>
          </div>
         </div>
        <div class="col-lg-3 text-center">
          <div class="card boder-0 bg-light mb-2">
            <div class="card-body">
              <img src="/assets/img/jugos.png" class="img-fluid" alt=""width="300px" height="300px">
              <h1>Bebidas</h1>
              <p>Variedad en jugos, gaseosas y cervezas.</p>
            </div>
          </div>
        </div>
      </div>
  </a>
</section>

<section class="nosotros">
  <h1 class="pt-20">Conoce nuestro gran trabajo.</h1>

  <div class="row pt-2">
    <div class="col-lg-7 m-auto">
      <div class="row text-center">
        <div class="col-lg-4">
          <div class="card .h-100 ">
            <div class="card-body ">
              <img src="/assets/img/platopasion.png" class="img-fluid" alt=""width="190px" height="374px">
              <h2>Platos
                con mucha
                Pasión
              </h2>
              <h3>Somos un equipo de cheffs...</h3>
              <p>Comprometidos con nuestros clientes haciendo los mejores y más deliciosos platos con toda la pasión para entregar un producto gourmet con calidad.</p>
            </div>
          </div>
          </div>
        <div class="col-md-4">
          <div class="card .h-100 ">
            <div class="card-body">
                <img src="/assets/img/chef.png" class="img-fluid" alt=""width="300px" height="300px">
                <h2>Nuestra misión</h2>
                <p>Llegar con los más exquisitos y variados platos a muchos clientes que buscan comida gourmet.</p>
            </div>
          </div>
          </div>
        <div class="col-md-4">
          <div class="card .h-100 ">
            <div class="card-body">
                <img src="/assets/img/chefsita.png" class="img-fluid" alt=""width="300px" height="300px">
                <h2>Nuestra visión</h2>
                <p>Posicionarnos en la web, como una de las mejores plataformas de preparaciones gourmet al alcance del público.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



