<div class="container">
    <div class="row row-cols-4">
            <div class="card">
                <div class="card-body">
                    <form #ordenForm="ngForm" (ngSubmit)="addOrden(ordenForm)">
                        <div class="input-field .col-6">
                            <input type="text" name="name" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.name" placeholder="Ingresa tu nombre">
                        </div>
                        <div class="input-field .col-6">
                            <input type="text" name="lastName" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.lastName" placeholder="Ingresa tu apellido">
                        </div>
                        <div class=".col-6 .col">
                            <input type="number" name="telephone" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.telephone" placeholder="Teléfono">
                        </div>
                        <div class="input-field .col-6">
                            <input type="text" name="email" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.email" placeholder="Email">
                        </div>
                        <div class="input-field .col-6">
                            <input type="text" name="entry" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.entry" placeholder="Entrada">
                            <div class="row">
                              <div class="input-field .col">
                              <input type="number" name="canEntry" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.canEntry" placeholder="Número de entradas">
                            </div>
                          </div>
                        </div>
                        <div class="input-field .col-6">
                            <input type="text" name="mainCourse" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.mainCourse" placeholder="Plato fuerte">
                            <div class="row">
                              <div class="input-field .col">
                              <input type="number" name="canMainCourse" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.canMainCourse" placeholder="Número de platos">
                          </div>
                        </div>
                        </div>
                        <div class="input-field .col-6">
                            <input type="text" name="drink" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.drink" placeholder="Bebidas">
                            <div class="row">
                              <div class="input-field .col">
                              <input type="number" name="canDrink" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.canDrink" placeholder="Número de bebidas">
                          </div>
                        </div>
                        </div>
                        <div class="input-field .col-6">
                            <input type="text" name="dessert" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.dessert" placeholder="Postre">
                            <div class="row">
                              <div class="input-field .col">
                              <input type="number" name="canDessert" #name="ngModel" [(ngModel)]="ordenService.selectedOrden.canDessert" placeholder="Cantidad de Postres">
                          </div>
                        </div>
                        </div>

                        <div class="card-action">
                            <div class="input-field .col">
                                <button class="btn">Guardar</button>
                                <button class="btn right" (click)="resetForm(ordenForm)">limpiar</button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>


        </div>


      </div>


